/vendor/
/node_modules/
/public/storage
/public/hot
/public/build
/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*
.env
.env.*
.idea
.vscode
.phpunit.result.cache
composer.lock
package-lock.json
